Repository posit-dev/py-shiny, pull requests merged in 2024-07, with the labels that each got.

#1475 feat(data frame): Support basic cell styling
  js/data-frame/cell.tsx
  js/data-frame/index.tsx
  js/data-frame/sort.ts
  js/data-frame/style-info.ts
  js/data-frame/styles.scss
  js/data-frame/types.ts
  setup.cfg
  shiny/_typing_extensions.py
  shiny/playwright/controller/_controls.py
  shiny/render/_data_frame.py
  shiny/render/_data_frame_utils/_datagridtable.py
  shiny/render/_data_frame_utils/_selection.py
  shiny/render/_data_frame_utils/_styles.py
  shiny/www/shared/py-shiny/data-frame/data-frame.js
  shiny/www/shared/py-shiny/data-frame/data-frame.js.map
  tests/playwright/shiny/components/data_frame/edit/app.py
  tests/playwright/shiny/components/data_frame/styles/app.py
  tests/playwright/shiny/components/data_frame/styles/great_tables_test_utils.py
  tests/playwright/shiny/components/data_frame/styles/test_df_styles.py
Labels: data frame

#1488 bug(data frame): Export `render.StyleInfo`
  shiny/render/__init__.py
  shiny/render/_data_frame_utils/__init__.py
  tests/playwright/shiny/components/data_frame/styles/app.py
Labels: data frame

#1474 feat(data frame): Support `polars`
  js/data-frame/cell.tsx
  js/data-frame/index.tsx
  js/data-frame/style-info.ts
  js/data-frame/types.ts
  setup.cfg
  shiny/playwright/controller/_controls.py
  shiny/playwright/expect/_expect.py
  shiny/render/__init__.py
  shiny/render/_data_frame.py
  shiny/render/_data_frame_utils/__init__.py
  shiny/render/_data_frame_utils/_databackend.py
  shiny/render/_data_frame_utils/_datagridtable.py
  shiny/render/_data_frame_utils/_html.py
  shiny/render/_data_frame_utils/_pandas.py
  shiny/render/_data_frame_utils/_patch.py
  shiny/render/_data_frame_utils/_selection.py
  shiny/render/_data_frame_utils/_styles.py
  shiny/render/_data_frame_utils/_tbl_data.py
  shiny/render/_data_frame_utils/_types.py
  shiny/render/_data_frame_utils/_unsafe.py
  shiny/render/_express.py
  shiny/render/_render.py
  shiny/types.py
  shiny/www/py-shiny/data-frame/data-frame.js
  shiny/www/py-shiny/data-frame/data-frame.js.map
  tests/playwright/shiny/bugs/1390-df-selected-row-filtered/test_1390_selected_row_filtered.py
  tests/playwright/shiny/components/data_frame/column_types/app.py
  tests/playwright/shiny/components/data_frame/data_view_info/app.py
  tests/playwright/shiny/components/data_frame/data_view_info/test_df_data_view_info.py
  tests/playwright/shiny/components/data_frame/edit/app.py
  tests/playwright/shiny/components/data_frame/html_columns_df/app.py
  tests/playwright/shiny/components/data_frame/html_columns_df/df_organization/app.py
  tests/playwright/shiny/components/data_frame/html_columns_df/df_organization/test_df_organization.py
  tests/playwright/shiny/components/data_frame/html_columns_df/tabbing/app.py
  tests/playwright/shiny/components/data_frame/html_columns_df/tabbing/test_tabbing.py
  tests/playwright/shiny/components/data_frame/html_columns_df/test_html_columns.py
  tests/playwright/shiny/components/data_frame/pandas_compatible/app.py
  tests/playwright/shiny/components/data_frame/pandas_compatible/test_df_pandas_compatible.py
  tests/playwright/shiny/components/data_frame/row_selection/app.py
  tests/playwright/shiny/components/data_frame/row_selection/test_row_selection.py
  tests/playwright/shiny/components/data_frame/styles/app.py
  tests/playwright/shiny/components/data_frame/styles/test_df_styles.py
  tests/playwright/shiny/components/data_frame/styles_class/app.py
  tests/playwright/shiny/components/data_frame/styles_class/test_df_styles_class.py
  tests/playwright/shiny/components/data_frame/validate_column_labels/app.py
  tests/playwright/shiny/components/data_frame/validate_column_labels/test_validate_column_labels.py
  tests/playwright/shiny/components/data_frame/validate_data_save/app.py
  tests/pytest/test_render_data_frame_tbl_data.py
Labels: data frame

#1505 docs(ui.autocomplete): Update autocomplete docs
  shiny/ui/_input_text.py
Labels: documentation

#1526 bug(data frame): Reduce usage of `CellPatchProcessed` in favor of `CellPatch`
  CHANGELOG.md
  shiny/playwright/controller/_controls.py
  shiny/render/_data_frame.py
  shiny/render/_data_frame_utils/__init__.py
  shiny/render/_data_frame_utils/_html.py
  shiny/render/_data_frame_utils/_pandas.py
  shiny/render/_data_frame_utils/_patch.py
  shiny/render/_data_frame_utils/_tbl_data.py
Labels: data frame

#1524 bug(TS): Update deps to latest versions:
  CHANGELOG.md
  js/data-frame/filter.tsx
  js/data-frame/index.tsx
  js/data-frame/table-summary.tsx
  js/package-lock.json
  js/package.json
  shiny/www/py-shiny/data-frame/data-frame.js
  shiny/www/py-shiny/data-frame/data-frame.js.map
  tests/playwright/shiny/components/data_frame/html_columns_df/app.py
  tests/playwright/shiny/components/data_frame/html_columns_df/test_html_columns.py
Labels: data frame

#1534 bug(data frame width): Do not allow row number column to grow with table width
  CHANGELOG.md
  examples/dataframe/app.py
  js/data-frame/index.tsx
  js/data-frame/styles.scss
  shiny/www/py-shiny/data-frame/data-frame.js
  shiny/www/py-shiny/data-frame/data-frame.js.map
  tests/playwright/shiny/components/data_frame/example/test_data_frame.py
  tests/playwright/shiny/components/data_frame/validate_row_selection_edit_mode/test_validate_row_selection_edit_mode.py
Labels: bug, data frame

#1536 docs,api: Documentation updates to data frame and testing; Split playwright.expect methods into multiple methods
  CHANGELOG.md
  docs/_quartodoc-testing.yml
  js/data-frame/index.tsx
  shiny/api-examples/data_frame_grid_table/app-core.py
  shiny/api-examples/data_frame_grid_table/app-express.py
  shiny/api-examples/data_frame_styles/app-core.py
  shiny/api-examples/data_frame_styles/app-express.py
  shiny/playwright/controller/__init__.py
  shiny/playwright/controller/_controls.py
  shiny/playwright/expect/__init__.py
  shiny/playwright/expect/_expect.py
  shiny/playwright/expect/_expect_to_change.py
  shiny/playwright/expect/_internal.py
  shiny/pytest/_fixture.py
  shiny/render/__init__.py
  shiny/render/_data_frame.py
  shiny/render/_data_frame_utils/__init__.py
  shiny/render/_data_frame_utils/_datagridtable.py
  shiny/render/_data_frame_utils/_tbl_data.py
  shiny/run/_run.py
  shiny/ui/dataframe/_data_frame.py
  shiny/www/py-shiny/data-frame/data-frame.js
  shiny/www/py-shiny/data-frame/data-frame.js.map
  tests/playwright/shiny/bugs/0666-sidebar/test_sidebar_colors.py
  tests/playwright/shiny/components/data_frame/example/test_data_frame.py
  tests/playwright/shiny/components/data_frame/styles/test_df_styles.py
  tests/playwright/shiny/components/data_frame/styles_class/test_df_styles_class.py
  tests/pytest/test_render_data_frame.py
Labels: documentation, data frame, testing

#1548 feat(data frame styles): Allow style "location" to not be required
  .github/py-shiny/setup/action.yaml
  shiny/api-examples/data_frame_styles/app-core.py
  shiny/api-examples/data_frame_styles/app-express.py
  shiny/render/_data_frame_utils/_datagridtable.py
  shiny/render/_data_frame_utils/_styles.py
  shiny/render/_data_frame_utils/_types.py
  tests/playwright/shiny/components/data_frame/styles/app.py
  tests/playwright/shiny/components/data_frame/styles/test_df_styles.py
  tests/playwright/shiny/components/data_frame/styles_class/app.py
  tests/playwright/shiny/components/data_frame/styles_class/test_df_styles_class.py
Labels: data frame

#1551 bug(edit: data frame): If the cell's value is `null`, edit value should be `""`
  js/data-frame/cell.tsx
  shiny/www/py-shiny/data-frame/data-frame.js
  shiny/www/py-shiny/data-frame/data-frame.js.map
  tests/playwright/shiny/components/data_frame/df_methods/app.py
  tests/playwright/shiny/components/data_frame/df_methods/test_df_methods.py
  tests/playwright/shiny/components/data_frame/html_columns/app.py
  tests/playwright/shiny/components/data_frame/html_columns/test_edit_cell_content.py
  tests/playwright/shiny/components/data_frame/html_columns/test_html_columns.py
  tests/playwright/shiny/components/data_frame/tabbing/app.py
  tests/playwright/shiny/components/data_frame/tabbing/test_tabbing.py
Labels: data frame

#1559 docs(quartodoc): Move `InputFile` down to `Upload and Download` section. Add `Chat`
  docs/_quartodoc-testing.yml
Labels: documentation

#1557 bug(data frame filter): When the filter is reset, be sure to use a "" value for the input
  CHANGELOG.md
  js/data-frame/filter.tsx
  shiny/www/py-shiny/data-frame/data-frame.js
  shiny/www/py-shiny/data-frame/data-frame.js.map
  tests/playwright/shiny/components/data_frame/filter_reset/app.py
  tests/playwright/shiny/components/data_frame/filter_reset/test_filter_reset.py
Labels: bug, data frame

#1569 bug(input_text_area): Auto resized text areas resize on visibility change
  CHANGELOG.md
  js/text-area/textarea-autoresize.ts
  shiny/www/py-shiny/text-area/textarea-autoresize.js
  tests/playwright/shiny/inputs/input_text_area/autoresize/app.py
  tests/playwright/shiny/inputs/input_text_area/autoresize/test_accordion_autoresize.py
Labels: bug

#1595 docs: Update note on style keys allowing for kebab-case
  shiny/render/_data_frame_utils/_datagridtable.py
Labels: documentation, data frame
